.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FB78B0;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}
.footer-links {
    margin: 0 20px 0 20px;
    color: black;
    font-size: larger;
    font-weight: 800;
    text-decoration: none;
}
.footer-links:hover {
    color: #fff;
    text-decoration: none;
}