.gallery-root {
    margin: 5% 6% 10% 6%;
    text-align: center;
}
.gallery-links {
 text-align: center;
 margin-bottom: 10%;
}
.gallery-cta {
    text-decoration: none;
    color: #fff;
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
  margin-right: 5%;
}
.gallery-cta:before {
  content: "";
  position: absolute;
  top: 1vh;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #fb78b1a1;
  width: 50px;
  height: 50px;
  transition: all 0.3s ease;
}
.gallery-cta span {
  position: relative;
  font-size: 14px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.gallery-cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.gallery-cta:hover{
    color: #111;
    text-decoration: none;
}
.gallery-cta:hover:before {
  width: 100%;
  background: #FB78B0;
}
.gallery-cta:hover svg {
  transform: translateX(0);
  stroke: #111;
}
.gallery-cta:active {
  transform: scale(0.96);
}
.gallery-img {
    width: auto;
    height: 25vw;
    margin: 10px;
    border-radius: 5px;
}
@media only screen and (max-width: 430px) {

  .gallery-cta{
    display: inline-block;
    margin-right: 0%;
  }
}