.home-mob-root {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  /* height: 5317px; */
  overflow: hidden;
  color: white;
  padding: 0%;
}
.mob-bp-div {
  margin-top: 20px;
  position: relative;
  text-align: center;
}
.mob-bp-img {
  /* border-radius: 10px; */
  height: auto;
  width: 100%;
  opacity: 0.7;
}
.mob-bp-text {
  color: white;
  font-size: 5.5vw;
  font-weight: 470;
  line-height: 1.8;
  padding: 10% 40px 10px 40px;
  position: absolute;
  top: 5%;

  /* transform: translate(-30%, -50%); */
  /* text-align: justify;
    text-justify: inter-word; */
}
.mob-facts {
  color: white;
  border-bottom: 2px solid #fb78b0;
  display: inline;
  cursor: pointer;
}
.mob-bold-text {
  font-weight: 700;
  display: inline;
}
.tour-info {
  text-align: left;
  margin-left: 6%;
}
.mob-button-links {
  text-align: left;
  /* margin: 50px 0 50px 3vw; */
}
.mob-cta {
  text-decoration: none;
  color: #fff;
  position: relative;
  margin: auto;
  padding: 19px 22px;
  transition: all 0.2s ease;
}
.mob-cta:before {
  content: "";
  position: absolute;
  top: 2vw;
  left: 20px;
  display: block;
  border-radius: 28px;
  background: #fb78b1a1;
  width: 7.5vh;
  height: 7.5vh;
  transition: all 0.3s ease;
}
.mob-cta span {
  position: relative;
  font-size: 12px;
  line-height: 5;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.mob-cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.mob-cta:hover {
  color: #111;
}
.mob-cta:hover:before {
  width: 100%;
  background: #fb78b0;
}
.mob-cta:hover svg {
  transform: translateX(0);
  stroke: #111;
}
.mob-cta:active {
  transform: scale(0.96);
}
.mob-bp-pages {
  text-align: center;
}
.mob-bp-images {
  width: 80vw;
  height: 80vw;
  object-fit: cover;
  border-radius: 10px;
}
.mob-text-head {
  font-weight: 700;
  font-size: 24px;
  line-height: 0.8;
  background: -webkit-linear-gradient(#fb78b0, #fff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 5vw;
}
.mob-text-subhead {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 10vw;
}
