.lisa-root {
    /* text-align: center; */
    margin: 50px 10% 200px 10%;
    }
    
    .lisa-banner-img {
        width: 20vw;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }
    
    .lisa-banner{
        float: left;
    }
    .lisa-top {
        margin: 0 0 25vw 0;
    }
    .lisa-text {
        color: #fff;
        font-size: 16px;
        width: 55%;
        margin-left: 30vw;
        text-align: justify;
      text-justify: inter-word;
    }
    .lisa-headshot {
    
        width: auto;
        height: 35vw;
        border-radius: 10px;
    }
    .lisa-img {
        width: 250px;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;
        margin: 2vw;
    }
    .centered {
        /* margin-top: 50px; */
        color: #fff;
        font-size: 50px;
        font-weight: 700;
        font-family: 'Train One', cursive;
        padding: 0;
        display: inline;
      }
      @media only screen and (max-width: 430px) {
        .lisa-banner-img {
          height: auto;
          width: 80vw;
          display: block;
          margin-bottom: 7vh;
        }
        .lisa-text {
            width: 100%;
            margin-left: 0px;
        }
        .lisa-banner{
            clear: left;
        }
    }