.rose-root {
    /* text-align: center; */
    margin: 3% 10% 5% 10%;
    }
    
    .rose-banner-img {
        width: 25vw;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
    }
    
    .rose-banner{
        float: left;
    }
    .rose-top {
        margin: 0 0 25vw 0;
    }
    .rose-text {
        color: white;
        font-size: 16px;
        width: 100%;
        text-align: justify;
      text-justify: inter-word;
      margin-top: 5%;
    }
    .rose-headshot {
    
        width: auto;
        height: 35vw;
        border-radius: 10px;
    }
    .rose-img {
        width: 250px;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;
        margin: 2vw;
    }
    .centered {
        /* margin-top: 50px; */
        color: #fff;
        font-size: 50px;
        font-weight: 700;
        font-family: 'Train One', cursive;
        padding: 0;
        display: inline;
      }
      .rose-solo {
        margin: 4% 5% 1% 5%;
        border-radius: 10px;
        height: 20vw;
        width: auto;
        display: inline;
    }
    .rose-solo:hover{
        opacity: 0.9;
        box-shadow: -1px 1px 40px 1px #fff;
    }
    .rose-tag {
        color: #FB78B0;
        font-size: 14px;
        font-style: italic;
        font-weight: 600;
        display: inline;
        margin-right: 14vw;
        margin-left: 15vw;
    }
      @media only screen and (max-width: 430px) {
        .rose-banner-img {
            height: auto;
            width: 80vw;
            display: block;
            margin-bottom: 7vh;
        }
        .rose-banner{
            clear: left;
        }
        .rose-tag {
            margin-right: 11vw;
            margin-left: 4vw;
        }
    }