.tv-pages-root {
    margin: 5% 0% 20% 5%;
}
.img-right {
    float: right;
}
.tv-page-img {
height: 15vw;
width: 60%;
border-radius: 10px;
}
.tv-summary {
    color: white;
}
.container {
    position: relative;
  }
  .overlay {
    position: absolute; 
    color: #f1f1f1; 
    transition: .5s ease;
    color: white;
    bottom: 20%;
    left: 22%;
    text-align: center;
  }